<div class="root__container" >
    <app-header></app-header>

    <!-- Main Content -->

    <!--<router-outlet></router-outlet>-->
    <main class="main__container">
        <div class="main-container__bg" [ngClass]="{'main-container__bg-dark': darkModeActive}"></div>
        <!-- <router-outlet></router-outlet> -->
        <app-kanboard></app-kanboard>
    </main>

    <!-- Footer -->

    <footer class="main__footer">
        <small class="copyright__text">Copyright © 2018. GistBan</small>
    </footer>
</div>